* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    padding: 5px 150px;
    background-color: #deebf7;
    font-weight: bold;
}
#canvas{
    border: 5px solid #1f1f1f;
}



button:hover{
    cursor: pointer;
    background-color: #7c7b7b;
}
button{
    width: 125px;
    height: 35px;
    margin: 5px;
    background-color: #a8a7a7;
    border-radius: 5px;
}



input{
    border-top: none;
    outline: none;
    padding-left: 5px;
    background: none;
}


#main{
    display: flex;
    width: 100%;
    max-width: 1510px;
}
#right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 35%;
}
#left{
    width: 60%;
}
#buttons{
    display: flex;
}
